@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?a7exi2');
	src:url('fonts/icomoon.eot?a7exi2#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?a7exi2') format('truetype'),
		url('fonts/icomoon.woff?a7exi2') format('woff'),
		url('fonts/icomoon.svg?a7exi2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-move:before {
	content: "\e900";
}
.icon-eye2:before {
	content: "\e903";
}
.icon-lock:before {
	content: "\f06a";
}
.icon-warning:before {
	content: "\e902";
}
.icon-info-outline:before {
	content: "\e901";
}
.icon-link-external:before {
	content: "\e605";
}
.icon-link:before {
	content: "\e606";
}
.icon-chevron-right:before {
	content: "\e60a";
}
.icon-chevron-left:before {
	content: "\e60b";
}
.icon-x:before {
	content: "\e625";
}
.icon-eye-blocked:before {
	content: "\e62a";
}
.icon-location:before {
	content: "\e630";
}
.icon-mail-forward:before {
	content: "\e632";
}
.icon-arrow-left:before {
	content: "\e634";
}
.icon-eye:before {
	content: "\e803";
}
.icon-arrow-right2:before {
	content: "\e804";
}
.icon-pencil2:before {
	content: "\e906";
}
.icon-bin:before {
	content: "\e9ac";
}

